<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE = edge，chrome = 1">
    <meta http-equiv="refresh" content="930;url=https://zervwave.com">

    {% seo %}

    <!-- Begin Favicon -->
    <link rel="icon" type="image/png" sizes="48x48" href="/assets/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <!-- End Favicon -->

    <!-- Begin Custom StyleSheet -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- End Custom StyleSheet -->
    
    <!-- Begin Custom JavaScript -->
    <script src="/assets/js/main.js"></script>
    <!-- End Custom JavaScript -->
</head>
