$primary: #00C795;
$white: #fff;
$black: #000;
$grey: #eee;

html,body{
  margin: 0;
  padding: 0;
}

.invite{
  display: flex;
  height: 100vh;
  
  &-container{
    margin: auto;
  }
  
  &-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -1px 0 3px #e7ebe9, 1px 0 3px #e7ebe9, 0 -1px 1px #eef3f1, 0 1px 5px #dce1df;
    
    &-title{
      font-size: 20px;
      font-weight: bold;
      margin: 0 auto 20px auto;
    }
    
    &-content{
      display: flex;
      
      &-input{
        background: $grey;
        &>input{
          border: none;
          background: $grey;
          width: 180px;
          height: 100%;
          padding: 0 10px;
          outline: 0;
        }
      }
      
      &-btn{
        width: 100%;
        height: auto;
        color: $white;
        background: $primary;
        font-weight: bold;
        padding: 8px;
      }
    }
  }
}
